/* code */
code,
pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    padding: 16px;
    overflow-x:auto;
}
code {
    padding: 0 5px 2px;
    font-size: 16px;
    background: #e5eff5;
    border-radius: 3px;
}
table code, 
pre code {
    font-weight:400;
    word-break:normal
} 

pre code {
    background:0;
    font-size:14px;
    padding:0
}
b code,
strong code {
    font-weight:700
}

h1 code {
    color:#757575
}
pre .com {
    color:#d81b60
}
pre .lit,
pre .dec {
    color:#c53929
}
pre .kwd,
pre .tag {
    color:#3b78e7
}
pre .str,
pre .atv {
    color:#0d904f
}