
/* header */
.m-header {
    background-color: #4285f4;

    &__title {
        color: #ffffff;
        font-weight: 500;
    }

    .mdl-navigation__link {
        font-weight: 500;
    }
}

/* 主内容 */
.m-content {
    padding: 0 60px;
}

.m-pages {
    max-width: 1040px;
    margin: 0 auto;

    &__inner {
        padding: 16px 16px 0 0;
    }
}

/* 文章卡片 */
.m-post-card {
    width: 100%;
    min-height: 140px;
    margin-bottom: 16px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);

    &__actions {
        display: flex;
    }

    &__title-text {
        color: rgba(0,0,0,1);
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
    }

    &__more {
        color: #3367d6 !important;
    }

    &__date {
        flex: 1;
        padding: 0 16px;
        line-height: 36px;
        height: 36px;
        color: rgba(0,0,0,.24);
    }

    &__supporting-text {
        padding-top: 0;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
    }
}

/* 右边导航 */
.m-siderbar {
    display: inline-block;
    background-color: rgb(250,250,250);
    width: 280px;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 10px;
    flex-shrink: 0;
    z-index: 1;
}

/* 文章信息 */
.m-post {
    padding: 10px;

    &__content {
        color: rgba(0,0,0,.87);
        font-size: 14px;
        margin: 0 0 20px 0;
        line-height: 32px;
        img {
            width: 100%;
        }
    }
    p {
        font-size: 14px;
    }

    &__nav {
        border-top: 1px solid #ebebeb;
        margin-top: 16px;
        padding: 16px 0;
    }
}

.m-tag {
    padding: 32px 0 16px 0;
    font-size: 26px;
    text-align: center;

    &__label {
        font-weight: 700;
    }
    &__desc {
        font-size: 20px;
    }
}
.m-site-intro,
.m-tag-cloud {
    margin-bottom: 16px;

    &__title {
        margin: 0 0 10px 0;
        color: #757575;
        font-weight: 800;
    }
    &__desc {
        padding-left: 16px;
        color: rgba(0, 0, 0, 0.54);
    }

    &__label {
        color: #3367d6;
    }
}

.m-hoc {
    width: 250px;
    padding: 16px 0;

    &__box {
        position: fixed;
        border-left: 4px solid #4285f4;
        margin: 0;
        padding: 0 16px;
        list-style: none;
        color: #212121;
    }

    &__sub-list {
        list-style: none;
        margin: 0;
        padding: 0 0 0 16px;
    }

    &__top-text {
        color: #212121;
    }

    ol {
        padding: 0 0 0 16px;
        margin: 0;

        a {
            color: #212121;
            font-weight: 400;
        }
        a:hover {
            color: #3367d6;
        }
    }
}

.m-footer {
    margin-top: 16px;
    background: #f7f7f7;
    padding: 16px;
}

.pagination {
    text-align: center;
}

/*错误信息*/
.m-error {
    text-align: center;
    padding: 16px;

    &__code {
        margin: 0;
        font-size: 12vw;
        letter-spacing: -5px;
        opacity: .3;
    }

    &__desc {
        margin: 0;
        color: #738a94;
        font-size: 30px;
        font-weight: 400;
    }
}