/**** Mobile layout ****/
@media (max-width: 900px) {

    .m-header {
        &__title {
            display: none !important;
        }
        &__short-title {
            display: block !important;
        }
    }

    .m-content {
        padding: 16px;
    }

    .m-pages {
        padding: 0;
        display: block;

        &__inner {
            padding: 0;
        }
    }

    .m-header__nav-container,
    .m-siderbar,
    .m-hoc {
        display: none !important;
    }

    .m-post {
        padding: 0;

        &__nav {
            flex-direction: column;
        }

        &__nav-prev,
        &__nav-next {
            text-align: left;
        }
    }

    .m-footer {
        flex-direction: column;
        &__item {
            text-align: center;
        }
    }
}